*{
    margin: o;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: black;
}

.body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
   
    background-color: #272a2c;

}
.wrapper
{
   
   display: inline-flex;
    padding-top: 25px;
    background-color: #fff;
    border-radius: 20px;
}
.wrapper .static-text{
    color: black;
    font-size: 70px;
    font-weight: 400;
    
}

.wrapper .dynamic-text{
    margin-left: 15px;
    height: 90px;
    line-height: 90px;
   
    overflow: hidden;

}

.dynamic-text li{
    color: #fc6f6d;
    list-style: none;
    font-size: 60px;
    font-weight: 500;
    position: relative;
    top: 0;
    animation: slide 6s steps(4) infinite;

}
@keyframes slide {
    100%{
       top: -360px;
    }
}
 .dynamic-text li span{
    position: relative;
    padding-bottom: 22px;
 }


.dynamic-text li span::after{
    content: '';
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background:#fff;
    border-left: 2px solid #fc6f6d;
    border-bottom: 3px;
    animation: typing 1.5s steps(10) infinite;
}
@keyframes typing {
    100%{
        left: 100%;
        margin: 0 -38px 0 37px;
    }
}

