body {
    margin: 0%;
    padding: 0;

}

.wallpaper{
    position:absolute;
    height: 100%;
    width: 100%;
     
    
    overflow: hidden;
    background: linear-gradient(90deg,rgba(2,0,.6,1)0%,rgba(9,9,121,1)35%,rgba(0,212,255,1)100%);
}
.box div{
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: transparent;
    border: 6px solid rgba(255,255,255,0.8);
}

.box div:nth-child(1){
    top: 12%;
    left: 42%;
    animation: animate 10s linear infinite;
}
.box div:nth-child(2){
    top: 70%;
    left: 50%;
    animation: animate 7s linear infinite;
}
.box div:nth-child(3){
    top: 17%;
    left: 6%;
    animation: animate 9s linear infinite;
}
.box div:nth-child(4){
    top: 20%;
    left: 60;
    animation: animate 10s linear infinite;
}
.box div:nth-child(5){
    top: 57%;
    left: 30%;
    animation: animate 8s linear infinite;
}
.box div:nth-child(6){
    top: 22%;
    left: 32%;
    animation: animate 6s linear infinite;
}
.box div:nth-child(7){
    top: 72%;
    left: 28%;
    animation: animate 10s linear infinite;
}
.box div:nth-child(8){
    top: 39%;
    left: 10%;
    animation: animate 10s linear infinite;
}
.box div:nth-child(9){
    top: 44%
    ;
    left: 52%;
    animation: animate 10s linear infinite;
}
.box div:nth-child(10){
    top: 90%;
    left: 42%;
    animation: animate 5s linear infinite;
}

@keyframes animate{
    0%{
        transform: scale(0) translateY(0) rotate(0);
        opacity: 1;
    }
    100%{
        transform: scale(01.3) translateY(-90px) rotate(360deg);
        opacity: 0;
    }
}
.detail{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: #fff;
    padding-left: 150px;
    padding-top: 150px;
    letter-spacing: 0.2em;
    cursor: pointer;
    width: 50%;
}


.button a{
    position: relative;
    background: #fff;
    
    border-radius: 10px;
    text-decoration: none;
    font-weight: 200;
    color:black;
    font-size: 40px;
    letter-spacing: 0;
    padding: 2px 7px;
    transition: 0.5s;

}
.button a:hover{
    background: black;
    color:gray;
    letter-spacing: 0.25em;
    box-shadow: 0 0 35px var(--clr);
}
.button a::before{
    content: '';
    position: absolute;
    inset: 2px;
    background:transparent;
}
.button a span{
  position: relative;
  z-index: 1px;
}

.profile{
    background-color: #fff;
}

.content
{
    background: #fff;
}